@model GlobalCollege.Entity.ViewComponent.EventsViewComponentModel
@{
    Layout = "";

}

<section class="alumni">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-between">
                <h2 class="heading">Alumni Events</h2><a href="/ContentManagement/EventSetup/Index" class="view-all">View All Events</a>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.EventList.OrderBy(x => x.PlacementOrder))
            {
                <div class="col-md-4">
                    <img src="@item.ThumbnailImageLink">
                    <div class="event-sideBox">
                        <div class="date">
                            <h2>@item.EventDate.Day</h2>
                            <span>@item.EventDate.ToString("MMM")</span>

                        </div>
                        <div class="info">
                            <a href="/ContentManagement/EventSetup/Details?Id=@item.Id"><h2>@item.Title</h2></a>
                            <span><i class="fa fa-clock" aria-hidden="true"></i>&nbsp;&nbsp; @item.Time <br><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp; @item.Venue</span>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

