@model GlobalCollege.Entity.ViewComponent.EventsViewComponentModel
@{
    Layout = "";

}

<section class="homenews__event sectionTop">
    <div class="container">
        <div class="row">
            <div class="col* col-md-7 col-lg-7 newsEvent__left">
                <h1 class="homeInst_title">Latest Posts</h1>

                <div class="row no-gutters">

                    @foreach (var item in Model.BlogList.OrderBy(x => x.PlacementOrder))
                    {

                        <div class="col* col-md-6 col-lg-6">
                            <div class="news__card">
                                <figure>
                                    <img src="@item.ThumbnailImageLink" alt="">
                                    <div class="on-img-date">
                                        <span class="day-month">@string.Format("{0} {1}", item.BlogDate.Day, item.BlogDate.ToString("MMM"))</span>
                                        <span class="year">@item.BlogDate.Year</span>

                                    </div>
                                </figure>
                                <p>
                                    <a href="/ContentManagement/BlogSetup/Details?Id=@item.Id">@item.Title</a>
                                </p>
                                <div class="post_date_update">
                                    <span><i class="fa fa-user" aria-hidden="true"></i> &nbsp;&nbsp;<strong>By</strong> @item.Author</span><span>&nbsp;&nbsp; | &nbsp;&nbsp;<i class="fa fa-tag" aria-hidden="true"></i>&nbsp;&nbsp; @item.ProgramName</span>

                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
            <div class="col* col-md-5 col-lg-5 newsEvent__right">
                <h1 class="homeInst_title">Upcoming Events </h1>

                <div class="card blog-widget">

                    @foreach (var item in Model.EventList.OrderBy(x => x.PlacementOrder))
                    {

                        <div class="event-sideBox">
                            <div class="date">
                                <h2>@item.EventDate.Day</h2>
                                <span>@item.EventDate.ToString("MMM")</span>

                            </div>
                            <div class="info">
                                <a href="/ContentManagement/EventSetup/Details?Id=@item.Id"><h2>@item.Title</h2></a>
                                <span><i class="fa fa-clock" aria-hidden="true"></i>&nbsp;&nbsp; @item.Time &nbsp;&nbsp; <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp; @item.Venue</span>

                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>


