@model GlobalCollege.Entity.ViewComponent.EventsViewComponentModel
@{
    Layout = "";
}

<div class="header_images _research-background">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="header_text-white">
                    <h2>Events Detail</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="events-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="event-content">
                    <img src="@Model.Event.BannerImageLink" class="w-100 mb-4" alt="event-image">
                    <p>
                        @Html.Raw(Model.Event.DetailDescription)
                    </p>
                    <div class="event-details">
                        <div class="row">
                            <div class="col-md-4">
                                <h2>Details</h2>

                                <p>
                                    <strong>Date:</strong>
                                    <br>@Model.Event.EventDate.ToLongDateString()
                                </p>
                                <p>
                                    <strong>Time:</strong>
                                    <br>@Model.Event.Time
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="event-details mt-5">
                        <div class="row">
                            <div class="col-md-4">
                                <h2>Venue</h2>

                                <p>
                                    @Model.Event.Venue
                                </p>
                            </div>
                            <div class="col-md-8">
                                <iframe src="@Model.Event.FieldString1" width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="event-sidebar">
                    <div class="event-menu">
                        <h2>
                            Upcoming Events
                        </h2>
                        @foreach (var eventItem in Model.EventList.OrderBy(x => x.PlacementOrder))
                        {
                            <div class="event-sideBox">
                                <div class="date">
                                    <h2>@eventItem.EventDate.Day</h2>
                                    <span>@eventItem.EventDate.ToString("MMM")</span>

                                </div>
                                <div class="info">
                                    <a href="/ContentManagement/EventSetup/Details?Id=@eventItem.Id"><h2>@eventItem.Title</h2></a>
                                    <span><i class="fa fa-clock" aria-hidden="true"></i>&nbsp;&nbsp; @eventItem.Time &nbsp;&nbsp; <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp; @eventItem.Venue</span>

                                </div>
                            </div>
                        }
                    </div>

                    @foreach (var admission in Model.Admissions.OrderBy(o => o.PlacementOrder))
                    {
                        <div class="card blog-widget mt-5">
                            <img src="@admission.ThumbnailImageLink" class="admission open">
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
