@model GlobalCollege.Entity.ViewComponent.CourseViewComponentModel
@{
    Layout = "";

}

<div class="header_images _research-background">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="header_text-white">
                    <h2>Profile</h2>

                </div>
            </div>
        </div>
    </div>
</div>
<section id="researcherProfile">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <img src="@Model.Course.ThumbnailImageLink" class="w-100">
            </div>
            <div class="col-lg-8 col-md-12 profile-info">
                <div class="course-info">
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <p>
                                <strong>
                                    Course ID
                                </strong>@Model.Course.Title
                            </p>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <p>
                                <strong>
                                    Level
                                </strong>Undergraduate
                            </p>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <p>
                                <strong>
                                    Semester
                                </strong>@Model.Course.Semester
                            </p>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <p>
                                <strong>
                                    Credit
                                </strong>@Model.Course.Credit
                            </p>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <p>
                                <strong>
                                    Method
                                </strong>@Model.Course.Method
                            </p>
                        </div>
                    </div>
                </div>
                <p class="short-info">
                    @Model.Course.ShortDescription
                </p>
                <div class="profile-details">
                    <div class="detail noborder">
                        @Html.Raw(Model.Course.DetailDescription)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="course-action">
    <div class="container">
        <div class="row d-flex align-items-center flex-wrap" id="blue_backgroundEye-a">
            <div class="col-lg-7 col-md-7">
                <img src="@Model.Course.ThumbnailImageLink" class="course w-100" style="margin-top: -80px">
            </div>
            <div class="col-lg-5 col-md-5 pl-5">
                <p>
                    @Model.CourseApplyDescription
                </p> <a href="#" class="btn btn-primary">Apply</a>

                <a href="#" class="btn btn-primary">Download Brochure</a>
            </div>
        </div>
    </div>
</section>
<section id="content-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-8">
                <div class="profile-details">
                    <div class="accordion pt-2" id="collapse-course">
                        @{
                            int i = 0;
                            foreach (var courseAttribute in Model.Course.CourseAttributeSetups.OrderBy(o => o.PlacementOrder))
                            {
                                if (i == 0)
                                {
                                    <div class="card">
                                        <div class="card-header" id="hd-1">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#colp-@i" aria-expanded="true" aria-controls="collapseOne">
                                                    @courseAttribute.Title
                                                </button>
                                            </h2>

                                        </div>
                                        <div id="colp-@i" class="collapse show" aria-labelledby="dt-1" data-parent="#collapse-course">
                                            <div class="card-body">
                                                @Html.Raw(courseAttribute.DetailDescription)
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="card">
                                        <div class="card-header" id="hd-1">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#colp-@i" aria-expanded="true" aria-controls="collapseOne">
                                                    @courseAttribute.Title
                                                </button>
                                            </h2>

                                        </div>
                                        <div id="colp-@i" class="collapse" aria-labelledby="dt-1" data-parent="#collapse-course">
                                            <div class="card-body">
                                                @Html.Raw(courseAttribute.DetailDescription)
                                            </div>
                                        </div>
                                    </div>
                                }

                                i = i + 1;
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
